body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}


.image {
    position: relative;
    margin: 0 -50px;
    z-index: 1;
    transition: transform 0.3s;
    height: 200px;
}

.image img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: 6px solid #fff;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.2);
}

.image:hover {
    transform:translateY(-20px) ;
    z-index:2;
}

.image:hover img {
    box-shadow: 0px 8px 30px rgba(0,0,0,0.3);
}